ADECal_D.ics
ADECal_A.ics
ADECal_B.ics
ADECal_C.ics
ADECal.ics
edt 08-09-2.ics
edt 08-09.ics
EDT_2A.ics
edt.ics
edt2.ics
__pycache__/EDTParser.cpython-311.pyc
__pycache__/test2.cpython-311.pyc
edts/edt_64fc5f69bccb9.ics
voice-cloning.code-workspace
userData.json
test.py
logTest.txt
dev.code-workspace
chimie.py
example.ics
graphTracer.py
